<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/style/stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/style/userstylesheets.css">
  <script src="js/hbs/handlebars.runtime.min.js"> </script>
  <script src="js/hbs/handlebars.groupsRefurbished.js"> </script>
  <script src="js/hbs/handlebars.wordpool.js"> </script>
  <script src="js/hbs/handlebars.dictionary.js"> </script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script defer src="js/hbs/main.js"></script>
  <title>Frontpage</title>
</head>

<body>
  <div id="id_innpakning">
    <div id="id_topptekst" onclick="location.href='index';" style="cursor: pointer;">
      <h1> Topico</h1>
    </div>


    <div id="id_innholdpakning">

      <div id="id_section_choice">
        <button id="bt_groups" class="button">Recordings and words</button>
        <button id="bt_wordpool" class="button">Word-Pool</button>
        <button id="bt_dictionary" class="button">Dictionary</button>
      </div>

      <div id="id_general_information" style="position: relative;">

        <div id="id_groups"> 
          <h2 style="text-align: center;">Group 1</h2>
        </div>
        <div id="id_wordpool">nisse</div>
        <div id="id_dictionary"> </div>

      </div>

    </div>
  </div>
</body>

</html>