Bæsj og tiss
{{#unless entries}}
<p>No entries to show..</p>
{{/unless}}
{{#each entries}}
<div id="id_entries_list">
  <div class="dictionary_mainWord">{{entries_mainWord}}</div>
  <div class="audio_container">
    <audio controls>
      <source src="{{entries_audio}}" type="audio/mp3">
    </audio>
  </div>
</div>
{{/each}}