<h2 style="text-align: center;">Group 1</h2>

<div id="id_groupRecording">
  <h3 id="id_tableText">Component words and recording</h3>
  <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th>Order of words</th>
          <th>Words in use</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <table>
          <td>Main word</td>
          <td>{{mainWord}}</td>
          </tr>
          <tr>
            <td>First helpword</td>
            <td>{{firstWord}}</td>
          </tr>
          <tr>
            <td>Second helpword</td>
            <td>{{secondWord}}</td>
          </tr>
          <tr>
            <td>Third helpword</td>
            <td>{{thirdWord}}</td>
          </tr>
      </tbody>
    </table>
  </div>
<audio controls>
  
</audio>

</div>