

<form method="POST" action="/index">
  <div>
    <label for="pool_word">Pool theme word</label>
    <input class="pool_content" type="text" id="pool_word" name="pool_word">
  </div>
  <div>
    <label for="pool">Add relevant words</label>
    <input class="pool_content" type="text" id="pool" name="pool">
  </div>


</form>