<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" media="screen" href="/style/stylesheet.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/style/userstylesheets.css">

  <title>Frontpage</title>
</head>

<body>
  <div id="id_innpakning">
    <div id="id_topptekst" onclick="location.href='index';" style="cursor: pointer;">
      <h1> Topico - Teacher platform </h1>
    </div>


    <div id="id_innholdpakning">

      <div id="id_section_choice">
        <button id="bt_groups" class="button">Group</button>
        <button id="bt_wordpool" class="button">Word-Pool</button>
        <button id="bt_dictionary" class="button">Dictionary</button>
      </div>

      <div id="id_general_information" style="position: relative;">

        <div id="id_groups"> {{>groups}} </div>
        <div id="id_wordpool">{{>wordpool}} </div>
        <div id="id_dictionary">{{>dictionary}} </div>

      </div>

    </div>
  </div>
  <script src="/js/main.js"></script>
</body>

</html>